IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33;

IO_LOC "rst" 4;
IO_PORT "rst" IO_TYPE=LVCMOS18;

IO_LOC "clk_out1" 27;
IO_PORT "clk_out1" IO_TYPE=LVCMOS33;

IO_LOC "dio1" 28;
IO_PORT "dio1" IO_TYPE=LVCMOS33;

IO_LOC "clk_out2" 29;
IO_PORT "clk_out2" IO_TYPE=LVCMOS33;

IO_LOC "dio2" 30;
IO_PORT "dio2" IO_TYPE=LVCMOS33;

IO_LOC "overflow_led" 31;
IO_PORT "overflow_led" IO_TYPE=LVCMOS33;